body {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f12711, #f5af19); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f12711, #f5af19); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
  padding: 2% 0;
}

.App h1 {
  color: white;
  display: inline-block;
}

.articles-container {
  border-top: 1px solid white;
  padding: 2% 0;
}

.article {
  width: 50%;
  margin: 0 auto;
}

.article:hover {
  cursor: pointer;
}